{{ csrf_input () }}
<div class="row">
        <div class="col-sm-12 col-xl-12 col-md-6">
            {{ field('name', item.name, trans("name")) }}
        </div>

        <div class="col-sm-12 col-xl-12 col-md-6">
            {{ field('icon', item.icon, trans("faq.icon") ~ " (" ~trans("optional") ~ ")") }}
        </div>
        <div class="col-sm-12 col-xl-12 col-md-12">
            {{ field('answer', item.answer, trans("faq.answer"), {type: 'textarea', 'class': 'summernote'} ) }}
        </div>

</div>
