<li class="nav-item">
    <a href="{{ path("faq.admin.index") }}" class="nav-link {{ is_subpath('faq.admin.index') ? 'active' }}">
        <i class="nav-icon fas fa-question"></i>
        <p>
            FAQ
        </p>
    </a>
</li>